ip: 192.168.10.158
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    -
        map: .
        to: /var/www/TROCAR_NOME.test
sites:
    -
        map: TROCAR_NOME.test
        to: /var/www/TROCAR_NOME.test/public
        php: "7.2"

databases:
    - TROCAR_NOME

name: TROCAR_NOME
hostname: TROCAR_NOME
